@import "tailwindcss";

/* Montserrat ExtraLight */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Montserrat ExtraLight Italic */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Montserrat Light */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Light Italic */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Montserrat Regular */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Regular Italic */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Montserrat Medium */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Medium Italic */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Montserrat SemiBold */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Montserrat SemiBold Italic */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Montserrat Bold */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Bold Italic */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Montserrat ExtraBold */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Montserrat ExtraBold Italic */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Montserrat Black */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Black Italic */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body {
  background: #e5e5e0;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

@theme {
  --color-primary: #e5e5e0;
  --color-DarkLava: #393632;
  --color-SageGray: #8b8b73;
  --color-gold: #cfa355;
  --font-amiamie: "Amiamie", sans-serif;
  --font-amiamie-round: "Amiamie-Round", sans-serif;

  --animate-marquee: marquee 40s infinite linear;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

@layer utilities {
  .clip-path {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }

  .banner-text-responsive {
    @apply font-semibold text-3xl sm:text-5xl md:text-6xl lg:text-8xl;
  }

  .value-text-responsive {
    @apply font-medium text-sm md:text-lg lg:text-2xl xl:text-4xl;
  }

  .marquee-text-responsive {
    @apply text-[28px] sm:text-[36px] lg:text-[42px];
  }

  .contact-text-responsive {
    @apply text-[42px] sm:text-[52px] md:text-[62px] lg:text-[100px];
  }
}